.emp_wrapper {
    display: flex;
    width: 100%;
}
.emp_main_wrapper {
    flex: 1;
    padding: 0px 0px 0px 0px;
    flex-direction: column;
}

.emp_content_section{display: flex ;
    flex-direction: column; padding: 0px 30px 0px 33px;
    margin-left: 30px;
}